html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 18px;
    color: #533738;
}
a{
    text-decoration: none;
    color: #533738;
}

.container{
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    font-size: 16px;
    line-height: 20px;
}

.menu__list li{
    display: inline-block;
}
.menu__list li+li{
    margin-left: 26px;
}
.menu__list li a:hover{
    color: #fff;
}

.top__content{
    width: 530px;
    margin-top: 91px;
    margin-left: 83px;
}
.top__title{
    color: #533738;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
    margin-bottom: 24px;
}
.top__text{
    padding-right: 124px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 21px;
}
.top__btn{
    background-color: #CC8B86;
    color: #533738;
    border: none;
    padding: 25px 67px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    outline: none;
}
.top__btn:hover{
    background-color: #533738;
    color: #CC8B86;
}

.about-us{
    background-color: #E5E5E5;
}
.about__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    text-align: center;
    padding: 65px 0 40px 0;
}
.about__inner{
    display: flex;
    justify-content: space-between;
    margin-left: 83px;
    padding-bottom: 21px;
}
.about__text{
    width: 528px;
    line-height: 30px;
    margin-right: 90px;
}
.about__text p+p{
    padding-top: 30px;
}
.about__text p+p span{
    display: block;
}

.exp, .app{
    background-color: #8D7370;
}
.exp__inner{
    display: flex;
    justify-content: space-between;
    margin-left: 83px;
    margin-right: 90px;
    padding: 85px 0 81px 0;
}
.exp__item p{
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}
.exp__item span{
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
}

.works, .feedback{
    background-color: #E5E5E5;
}
.works__title, .feedback__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #533738;
    padding: 65px 0 40px 0;
    text-transform: uppercase;
}
.works__inner{
    display: grid;
    grid-template-columns: 488px 691px;
    column-gap: 20px;
    row-gap: 30px;
}
.works__item-3{
    width: 142%;
}
.works__item-4{
    justify-self: flex-end;
}
.works__item{
    position: relative;
    height: 451px;
}
.works__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(100, 72, 69, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff;
    bottom: 0;
    transition: all .5s;
}
.works__item:hover .works__desc{
    opacity: 1;
}
.works__desc h2{
    width: 270px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    padding-bottom: 40px;
}
.works__desc p{
    padding: 0 35px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.works__continue{
    color: #533738;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    padding: 40px 0 65px 0;
}
.works__continue::after{
    content: '';
    display: inline-block;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    width: 62px;
    height: 16px;
}

.team{
    background-color: #E2C4BA;
}
.team__title, .team__work-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #533738;
    text-transform: uppercase;
    padding: 50px 0 40px 0;
    text-align: center;
}
.team__inner{
    display: flex;
    justify-content: center;
}
.team__text{
    width: 320px;
    font-weight: 400;
    line-height: 30px;
}
.team__item-2{
    padding: 0 38px;
}

.team__work-title{
    padding-top: 35px;
}



.team__plan{
    display: flex;
    justify-content: space-between;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 70px;
    height: 70px;
    background-color: #8D7370;
    border-radius: 50%;
    position: relative;
    margin-left: 100px;
    margin-bottom: 20px;
    
}
.number span{
    position: absolute;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}
.text{
    font-weight: 400;
    width: 285px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 80px;
}


.slick-initialized .slick-slide{
    display: flex;
    justify-content: space-between;
}

.feedback__title{
    text-align: center;
}

.feedback__text-top{
    margin-top: 80px;
}

.feedback__text p{
    margin-bottom: 35px;
    margin-left: 183px;
    margin-right: 20px;
    font-weight: 400;
    line-height: 30px;
}
.feedback__image img{
    margin-bottom: 24px;
    margin-right: 183px;
}
.feedback__image img+img{
    margin-bottom: 65px;
}
.feedback__text .name{
    text-transform: uppercase;
}


.slick-btn{
    position: absolute;
    top: 50%;
    width: 72px;
    height: 72px;
    transform: translateY(-90%);
    border: none;
    background-color: #CC8B86;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    z-index: 5;
}

.slick-prev{
    left: 70px;
}

.slick-next{
    right: 70px;
}


.app__inner{
    display: flex;
    justify-content: space-between;
}

.app__form{
    margin-left: 80px;
}

.app__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    margin: 50px 0 24px 0;
}

.app__text{
    color: #fff;
    line-height: 30px;
    margin-bottom: 44px;
}

::-webkit-input-placeholder{
    color:#fff;
}
:focus::-webkit-input-placeholder {
    color: transparent
}

.app__name, .app__phone{
    background-color: #8D7370;
    color: #F6EDE9;
    border: none;
    width: 508px;
    font-size: 18px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 4px;
    outline: none;
}
.app__name{
    margin-bottom: 35px;
}
.app__phone{
    margin-bottom: 31px;
}

.contacts{
    background-color: #e5e5e5;
}
.contacts__inner{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding: 37px 0;
}
.adress-phone span{
    margin-left: 42px;
}